<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View All Course</title>
    </head>
    <body>
    <h2 th:text=" 'Login as ' + ${#httpServletRequest.remoteUser}"> Login as</h2>
    <form th:action="@{/logout}" method="post"><input type="submit" value="Sign Out"/> </form>
    <div th:each="course,iterationStatus: ${course}">
       	<h3 th:text="'ID = ' + ${course.idCourse}">Course ID</h3>
       	<h3 th:text="'Name = ' + ${course.nama}">Course Name</h3>
       	<h3 th:text="'GPA = ' + ${course.sks}">Course SKS</h3>
    	 
		<h3>Mahasiswa yang mengambil</h3>
		 <ul th:each="student,iterationStatus: ${course.students}">
			<li th:text="${student.npm} + '-' + ${student.name}" >
			 NPM mahasiswa-X Nama Mahasiswa
			</li>
		</ul>
	</div>
	 </body>
    
</html>

